<div class="toy row">
    <div class="col-md-4 col-lg-4" ng-repeat="toy in toys">
        <div ng-repeat="t in toy.yml_catalog.shop.offers.offer">
            <div class="height">
                <div class="row" align="center">
                    <img ng-src="{{t.picture}}" class="image" align="middle" height="85px"
                         width="125px">
                </div>
                <div class="row" align="center"><b>{{t.name}}</b></div>
                <div class="row" align="center"><b>{{t.vendor_code}}</b></div>
                <div class="row"><h6><b>Описание:</b>{{t.description}}</h6></div>
                <div class="row"><h5><b>{{t.price}} {{t.currencyId}}</b></h5></div>
            </div>
            <a ng-click="addToy(toy.name, toy.price, toy.pictures[$index].url, toy.key, toy.description, toy.category)">
                <div class="button" align="center">Купить</div>
            </a>
        </div>
    </div>
</div>

