$border: 1px solid #8c9acc;
$color: #AFF8AE;
$text-color: #408cda;

.bucket {
  .title {
    border: $border;
    text-align: center;
    background: $color;
    color: $text-color;
    cursor: pointer;
  }

  .data {
    background: #e0ddf3;
    border: $border;

  }

  .bucket-button {
    background: $color;
    border: $border;
    color: $text-color;

    &:hover {
      background: #408cda;
      color: black
    }
  }

}