$border: 1px solid #8c9acc;
$color: #AFF8AE;

@mixin flex-find {
  display: flex;
  flex-direction: row;
}

@mixin category {
  border: $border;
  background: $color;
  margin-top: 5px;
}

.find {
  @include flex-find;

  .find-area {
    border: $border;
    background: $color;
    flex: 3;
    padding-left: 10px;

    &:focus {
      background: #ffffff;
    }
  }

  .find-button {
    border: $border;
    background: $color;
    flex: 1;

    &:hover {
      background: #408cda;
      color: #ffffff;
    }
  }
}

.category {
  @include category;

  .title {
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #ffffff;
    padding: 10px;

    &:hover {
      background: #408cda;
      color: black
    }

  }

  li {

    margin-top: 5px;
    margin-right: 40px;
    padding: 1px 0 1px 10px;

    &:hover {
      background: rgba(0, 0, 0, 0.1);
      cursor: pointer;
    }

    &:focus {
      background: rgba(0, 0, 0, 0.1);
    }

    a {
      color: #408cda;
      cursor: pointer;

      &:hover {
        text-decoration: none;
      }

    }
  }
}