<div class="find row">
    <input type="text" class="find-area" ng-model="item" placeholder="Поиск" maxlength="16">

    <button type="button" class="find-button" ng-click="finding(item)"><span
            class="glyphicon glyphicon-search"></span>
    </button>
</div>
<div class="category row">
    <a href="#!/toys">
        <div class="title">
            <h3><b><span>Каталог товаров</span></b></h3>
        </div>
    </a>
    <div ng-repeat="toy in toys">

        <ul type="none" ng-repeat="t in toy.yml_catalog.shop.categories.category">
            <li>
                <h4>
                    <a ng-click="category(t._id)" ng-show="t._parentId==null">{{t.__text}}</a>
                </h4>
            </li>
        </ul>
    </div>
</div>
