.category-data {
  margin-top: 20px;
  padding: 5px;
  transition: background 0.2s ease-out, color 0.2s ease-out, height 0.2s ease-out, width 0.2s ease-out;
  &:hover {
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: white;
    img {
      height: 100px;
      width: 150px
    }
  }

  div {

    .img {
      padding-top: 10px;
      height: 110px;

    }

    .name {
      text-align: center;
      padding: 15px;
      height: 75px;
    }

    .code {
      text-align: left;
      padding: 15px;
    }

    .description {
      text-align: justify;
      overflow: hidden;
      padding: 15px;
      height: 100px;
      text-overflow: ellipsis;
    }

    .price {
      padding: 15px;
    }

    .add-button button {
      margin-left: 95px;
      margin-bottom: 10px;
      text-align: center;
      color: white;
      border: none;
      background: linear-gradient(to bottom, #6390FF, #5873ff);
      border-radius: 5px 5px 5px 5px;
      height: 30px;

      &:hover {
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
        background: linear-gradient(to bottom, #5873ff, #6390FF);
      }
    }
  }
}

.add-limit {
  width: 230px;
  height: 420px;
  padding-top: 115.5px;
  padding-bottom: 122.5px;
  padding-left: 30px;
  padding-right: 60px;
  margin: 10px;
  margin-left: 300px;
  &:hover {
    background: rgba(0,0,0,0.1);
    cursor: pointer;
    img {
      animation: spin 1s linear infinite;
    }
  }

  @keyframes spin {
    from {
      transform:rotate(0deg);
    }
    to {
      transform:rotate(360deg);
    }
  }
}