<div ng-init="limit=12">
    <div class="col-md-3 col-lg-3" ng-repeat="t in category_toys | limitTo : limit">
        <div class="toy-data" ng-click="getGood(t)">
            <div class="row" align="center">
                <div class="name">
                    <b>{{t.name}}</b>
                </div>
            </div>
            <div class="row" align="center">
                <div class="img">
                    <img ng-src="{{t.picture}}" class="image" align="middle" height="130">
                </div>
            </div>
            <div class="row" align="center">
                <div class="code">
                    <b>Код: {{t.vendor_code}}</b>
                </div>
            </div>
            <div class="row">
                <div class="price">
                    <h3><b>{{t.price}} {{t.currencyId}}</b></h3>
                </div>
            </div>
            <div class="row">
                <div class="add-button">
                    <button ng-click="addToy(t.picture,t.name,t.vendor_code,t.description,t.price,t.currencyId)">Добавить
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-lg-4">
            <div class="add-limit" ng-click="limit=limit+12"><img src="/dist/img/financial-planning-cycle.png"
                                                                  height="175px" width="175px"></div>
        </div>
    </div>
</div>

