.from-input {
  height: 35px;
  width: 90%;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  padding-left: 10px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid black;
}

.form-text-input {
  height: 250px;
  width: 90%;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  padding-left: 10px;
  resize: none;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid black;
  color: black;
}