<div id="nextModal" class="modal" role="dialog" style="opacity: 1; display: block;">
    <div class="modal-dialog">

        <div class="modal-content pay window">
            <div class="modal-header">
                <a class="close" data-dismiss="modal" href="#!/toys">&times;</a>
                <h4 class="modal-title">Оплата<span style="color: black" class="glyphicon glyphicon-menu-right"></span>Коректирование
                    товара<span style="color: black" class="glyphicon glyphicon-menu-right"></span>Оплата товара</h4>
            </div>
            <div class="modal-body" align="center">
                <form method="POST" action="https://formspree.io/kostenko.m.t@gmail.com">
                    <input class="from-input" type="email" name="Почта" placeholder="Ваш email..." required>
                    <input class="from-input" name="Телефон" type="text" placeholder="Введите Ваш номер телефона..."
                           required>
                    <div class="good">
                        <table class="good-table">
                            <thead class="good-thead">
                            <tr>
                                <th>Название</th>
                                <th>Артикул</th>
                                <th>Цена</th>
                                <th>Количество</th>
                                <th>Сума</th>
                            </tr>
                            </thead>
                            <tbody class="good-tbody">
                            <tr ng-repeat="store in storeData">
                                <td>
                                <textarea class="" name="Название" placeholder="Your message"
                                          readonly>{{store.name}}</textarea>
                                </td>
                                <td>
                                    <input class="" value="{{store.code}}" name="Артикул" placeholder="Your message"
                                           readonly>
                                </td>
                                <td>
                                    <input class="" value="{{store.price}} {{store.currency}}"
                                           name="Цена" placeholder="Your message" readonly>
                                </td>
                                <td>
                                    <input class="" value="{{store.index}}" name="Количество" placeholder="Your message"
                                           readonly>
                                </td>
                                <td>
                                    <input class="" value="{{store.price*store.index|number: 2}} {{store.currency}}"
                                           name="Сума" placeholder="Your message"
                                           readonly>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <hr>
                        <div class="total" align="right">
                            Итого: <input type="text" name="Итого" value="{{total|number: 2}} {{storeData[0].currency}}" readonly>
                        </div>
                    </div>
                    <button class="btn btn-default" type="submit">Send</button>
                </form>
            </div>
            <div align="right">
                <a href="#!/toys" type="button" ng-click="clear()" class="btn btn-default"
                   data-dismiss="modal">Очистить</a>
                <a href="#!/pay" type="button" class="btn btn-default" data-dismiss="modal">Назад</a>
                <a href="#!/toys" type="button" class="btn btn-default" data-dismiss="modal">Закрить</a>
            </div>
        </div>

    </div>
</div>